@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

body {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 23px;
    font-family: 'Raleway', sans-serif;
}

.axit_wrapper, .social_wrapper, .tab_effects_wrapper, header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    text-align: center;
}

.axit_inner, .form_body, .social_inner, .tab_effects_inner, .features_wrapper,
.features_inner, .pricing_options_inner, .pricing_options_wrapper, .container,
.pricing_options_container, .reviews_wrapper, .reviews_inner,
.blackout, .axure_design_inner, .contacts_wrapper, .contacts_inner, .contacts_list, footer, .contacts_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}


a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

i {
    color: rgba(255, 155, 81, 1);
    font-size: 40px;
}

.scale_animation {
    transition: 0.2s;
    will-change: transform;
}

.scale_animation:hover {
    transform: scale(1.2);
}

h3 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.description {
    color: rgba(134, 135, 139, 1);
    size: 14px;
    line-height: 20px;
}

header {
    height: 62px;
    padding: 0 140px;
    background-color: black;
    align-items: center;
}

.logo {
    width: 79px;
    height: 27px;
}

nav {
    height: 100%;
}

.menu {
    height: 100%;
    font-weight: 600;
    font-size: 14px;
    align-items: stretch;
}

.menu li:not(:last-child) {
    margin-right: 22px;
}

.menu li a {
    transition: 0.3s;
}

.menu li a:hover {
    color: #FD8B38;
}

.axit_wrapper {
    min-height: 650px;
    padding: 102px 140px 150px 140px;
    background: url("../uploads/images/image 1.png") no-repeat center;
    background-size: cover;
}

.axit_inner {
    width: 550px;
}

.axit_inner *:not(:last-child) {
    margin-bottom: 20px;
}

.axit_inner .description {
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
}

.axit_wrapper .logo {
    width: 175px;
    height: 60px;
}

.title {
    position: relative;
    padding-bottom: 32px;
    line-height: 42px;
    font-size: 36px;
}

.title::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100px;
    height: 2px;
    background-color: #FFFFFF;
}

button {
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 42px;
    width: 134px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 600;
}

button:hover {
    animation: bounce 1s;
    border-color: rgba(255, 155, 81, 1);
}

.form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 30px;
    width: 360px;
    min-height: 368px;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
}

.form h3 {
    background-color: rgba(223, 223, 223, 1);
    padding: 15px 40px 15px 40px;
    text-align: center;
    min-height: 54px;
}

h3 span {
    margin: 0 5px;
    color: #FD8B38;
}

.form_body {
    padding: 36px 0 56px 0;
    height: 260px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(189, 189, 189, 1);
}

.form_body input, .contacts_form input, .contacts_form textarea {
    width: 275px;
    height: 32px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    border-top: none;
    border-left: none;
    border-right: none;
}

.form_button {
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    min-height: 54px;
    background-color: #FD8B38;
    transition: 0.3s;
    border-radius: unset;
}

.form_button:hover {
    background-color: #00c853;
    animation: none;
}

.social_wrapper {
    min-height: 105px;
    padding: 18px 140px 18px 140px;
}

.social_inner {
    width: 400px;
}

.social_list li:not(:last-child) {
    margin-right: 32px;
}

.tab_effects_wrapper {
    padding: 135px 140px 135px 140px;
    min-height: 598px;
    background: rgba(245, 245, 245, 1);
}

.tab_effects_inner:first-child {
    width: 112px;
    height: 336px;
}

.tab_effects_inner:nth-child(2) {
    width: 500px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.tab_effects_inner:nth-child(2) *:not(:last-child) {
    margin-bottom: 20px;
}

.tab_column {
    overflow: hidden;
    border-radius: 5px;
    flex-direction: column;
    height: 100%;
}

.tab_column li {
    font-weight: 700;
    size: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 1);
}

.tab_column li:not(:last-child) {
    border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.tab_column li:first-child {
    background-color: rgba(255, 155, 81, 1);
}

.tab_effects_wrapper button {
    background-color: #FD8B38;
}

.city {
    align-self: center;
    height: 253px;
    width: 320px;
}

.features_wrapper {
    min-height: 587px;
    padding: 102px 140px 110px 140px;
}

.features_inner, .pricing_options_inner, .reviews_inner, .axure_design_inner, .contacts_inner {
    align-items: center;
}

.features_inner:first-child p, .pricing_options_inner:first-child p, .axure_design_inner:first-child p, .reviews_inner:first-child p, .contacts_inner:first-child p {
    margin-bottom: 40px;
}

.features_wrapper .title, .pricing_options_wrapper .title, .reviews_wrapper .title, .axure_design_wrapper .title, .contacts_wrapper .title {
    color: black;
    margin-bottom: 22px;
    padding-bottom: 22px;
}

.features_wrapper .title::after, .pricing_options_wrapper .title::after, .reviews_wrapper .title::after, .axure_design_wrapper .title::after, .contacts_wrapper .title::after {
    margin: auto;
    right: 0;
    background-color: #FD8B38;
}

.features_container {
    text-align: center;
    min-height: 190px;
    width: 350px;
}

.features_container *:not(:last-child) {
    margin-bottom: 20px;
}

.features_inner:nth-child(2), .pricing_options_inner:nth-child(2), .reviews_inner:nth-child(2) {
    flex-direction: row;
    justify-content: space-between;
}

.pricing_options_wrapper {
    padding: 102px 140px 111px;
    min-height: 900px;
    background-color: rgba(245, 245, 245, 1);
}

.pricing_options_container {
    background-color: white;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.pricing_options_container h3, .pricing_options_container .price {
    border-bottom: 1px solid rgba(245, 245, 245, 1);
    background-color: rgba(51, 51, 51, 1);
}

.pricing_options_container *, .pricing_options_container ul li {
    width: 100%;
    text-align: center;
}

.pricing_options_container h3 {
    color: rgba(255, 255, 255, 1);
    min-height: 60px;
    padding: 17px 0;
}

.price {
    font-weight: 700;
    font-size: 50px;
    padding: 38px 0;
}

.price span {
    font-size: 24px;
}

.description.time {
    background-color: rgba(51, 51, 51, 1);
    font-style: italic;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    min-height: 50px;
    padding: 13px 0;
}

.description.popularity {
    padding: 8px 0;
    background-color: #FD8B38;
    font-weight: 700;
    color: white;
    min-height: 5px;
}

.description.popularity:empty {
    padding: 0;
}

ul.list {
    flex-direction: column;
}

ul.list li {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(245, 245, 245, 1);
}

.reviews_wrapper {
    padding: 73px 160px 102px 160px;
    min-height: 600px;
}

.reviews_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    min-height: 225px;
    width: 300px;
}

blockquote .description {
    position: relative;
    padding: 25px 12px 18px 12px;
    font-style: italic;
    min-height: 130px;
    background-color: rgba(245, 245, 245, 1);
    margin-bottom: 30px;
}

blockquote .description::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -40px;
    left: 15px;
    border: 20px solid transparent;
    border-top: 20px solid rgba(245, 245, 245, 1);
}

.author {
    display: flex;
    min-height: 70px;
    width: 300px;
}

.author div {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    justify-content: center;
    padding-left: 16px;
}

.axure_design_wrapper {
    position: relative;
    padding: 54px 0;
    height: 350px;
    background: url("../uploads/images/architecture-1850129_1920 1.png") no-repeat center;
    background-size: cover;
}

.blackout {
    align-items: center;
    padding: inherit;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
}

.axure_design_wrapper .title, .axure_design_wrapper .description {
    color: white;
}

.axure_design_wrapper .title::after {
    background-color: white;
}

.contacts_wrapper {
    height: 650px;
    padding: 73px 0 105px 0;
}

.contacts_list {
    height: 150px;
    margin-right: 70px;
}

.contacts_form input {
    width: 500px;
    height: 32px;
}

.contacts_form textarea {
    resize: none;
    height: 150px;
    width: 500px;
}

.contacts_form {
    height: 250px;
    align-items: center;
}

.contacts_form div {
    display: flex;
}

.send_message {
    background-color: #FD8B38;
}

footer {
    height: 150px;
    align-items: center;
    background-color: black;
    padding: 30px 0;
}

footer .social_list li:not(:last-child) {
    margin-right: 40px;
}

footer p {
    font-size: 12px;
}